{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Redemption Date</th>
            <th>Person</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for pets in object_list %}
                <tr>
                    <td>{{ pets.id }}</td>
                    <td>{{ pets.name }}</td>
                    <td>{{ pets.gender }}</td>
                    <td>{{ pets.age }}</td>
                    <td>{{ pets.redemption_date }}</td>
                    <td>{{ pets.person.name }} {{ pets.person.last_name }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'pet_edit' pk=pets.id %}">
                            Edit
                        </a>
                        <a class="btn btn-default" href="{% url 'pet_delete' pk=pets.id %}">
                            delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                 <tr>nothing for show</tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}