{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Redemption Date</th>
            <th>Person</th>
        </tr>
    </thead>
    <tbody>
        {% if pet %}
            {% for pets in pet %}
                <tr>
                    <td>{{ pets.id }}<td>
                    <td>{{ pets.name }}</td>
                    <td>{{ pets.gender }}</td>
                    <td>{{ pets.age }}</td>
                    <td>{{ pets.redemption_date }}</td>
                    <td>{{ pets.person.name }} {{ pets.person.last_name }}</td>
                </tr>
            {% endfor %}
        {% else %}
                 <tr>nothing for show</tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}