{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Pet Number</th>
            <th>Comment</th>
            <th>Person</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for request in object_list %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.pet_number }}</td>
                    <td>{{ request.comment }}</td>
                    <td>{{ request.person }}</td>
                    <td>
                         <a class="btn btn-primary" href="{% url 'adoptionrequest_edit' pk=request.id %}">
                            Edit
                        </a>
                        <a class="btn btn-default" href="{% url 'adoptionrequest_delete' pk=request.id %}">
                            delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                 <tr>nothing for show</tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}